@{
    ViewBag.Title = "一个开源的简易博客";
}
<h2>关于SBlog</h2>
<h3>一个开源的简易博客</h3>

<p>说来话长，原来一直使用WordPress进行写博客，但是，它是一个用Php写的博客系统，当我使用了云主机之后，就下载安装了XAMPP来运行自己的博客，但是，但是……它实在是太慢了！！<br />没有办法忍受了，想自己写一个，并把它开源出来，这个大概是在2014年黄金周那会的事情吧，现在终于有个雏形，并且可以用诸如Windows Live Writer来发表文章！
    <br /> 这是一个开源的简易博客！支持离线博客！</p>
