@{
    ViewBag.Title = "联系方式";
}
<h2>联系方式</h2>
<h3>如果你有什么问题或想法，可以联系我。</h3>

<address>
    微博：@@红掌拨波
    QQ：852243959（请注明）
</address>

<address>
    <strong>问题或想法:</strong>   <a href="mailto:mylightworld@qq.com">mylightworld@qq.com</a><br />
</address>