@{
    ViewBag.Title = "发送激活邮件失败，请重新发送！";
}

<div>
    <h3 class="icon-ok-sign">发送激活邮件失败，请重新发送！</h3>
    <div>
        发送激活邮件到@(ViewBag.email)失败，请
        <a href="/account/sentactivateemail" class="btn btn-primary">重新发送</a>！
    </div>
</div>


