@using SBlog.Models;
@model int
@{
    Layout = null;
    var context = new SBlogEntities();
    var subCats = new List<Category>();
    subCats = context.Categories.Where(x => x.ParentId == Model || Model == 0 && x.ParentId == null).ToList();
    var selectedCid = (int)ViewBag.selectedCid;
}
@if (subCats.Count > 0)
{
    <select name="category" class="category">
        <option value="">请选择</option>
        @foreach (var sub in subCats)
        {
            <option value="@sub.Id" @(sub.Id == selectedCid ? "selected" : "")>@sub.Name</option>
        }
    </select>
}