@using SBlog.Helpers;
@if (CookieHelper.IsLogin)
{
    using (Html.BeginForm("LogOff", "Account", FormMethod.Post, new { id = "logoutForm", @class = "navbar-right" }))
    {
    @Html.AntiForgeryToken()

    <ul class="nav navbar-nav navbar-right">
        <li>
            @Html.ActionLink("你好，" + CookieHelper.UserName + "!", "Settings", "Account", routeValues: null, htmlAttributes: new { title = "Manage" })
        </li>
        <li><a href="/account/logoff">注销</a></li>
    </ul>
    }
}
else
{
    <ul class="nav navbar-nav navbar-right">
        <li><a href="/account/register" id="registerLink">注册</a></li>
        <li><a href="/account/login" id="loginLink">登录</a></li>
    </ul>
}
